@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'BLOKKRegular';
	margin-top: 2em;
	background-image:url(../img/website-bottom.png);
	background-repeat:no-repeat;
	background-position: bottom right;
	background-size: 500px;
}

.fixed{
	position:fixed;
	z-index:-10;
}

.items{
	margin-top:175px;
}

.logo{
	margin-left:-20%;
}

.writing{
	margin:-5% 0 0 10%;
}

.alpha{
	margin-left:0px;
}

button{
	border:none;
	margin: 0 0 10px 0;
}

.dropdown{
	left: -2em;
	top: 150px;
}

.dropdown-toggle:visited,.dropdown-toggle:link{
	color: black;
	font-size: 20px;
	margin-left: 6em;
	text-decoration: none;
}

.dropdown-toggle:hover{
	color: white;
	background: black;
	border-radius: 5px;
	text-decoration: none;
}

.modal{
	background: none;
	border:none;
	box-shadow:none;
}

.modal h1{
	color: white;
	font-size: 20px;
	margin-top: -5px;
}

.modal p{
	color:white;
	font-weight:bold;
	height: 100%;
	bottom: 100px;
	margin-top: -20px;
}

.modal .pic{
	height: 100%;
	width:100%;
}

.modal a{
	text-decoration:none;
	color: white;
}

.temp img{
	border: 2px solid white;
	height: 200px;
	width: 200px;
}

.temp{
	background:#333;
}