@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'nunito','sans-serif';
	background-image:url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center center;
	min-height:1024px;
	min-width:1024px;
}

.fixed{
	position:fixed;
	z-index:-10;
}

.items{
	margin-top:75px;
}

.logo{
	margin-left:-20%;
}

.writing{
	margin:-5% 0 0 10%;
}

.alpha{
	margin-left:0px;
}

button{
	border:none;
	margin: 0 0 10px 0;
}

.dropdown{
	left: -2em;
	top: 50px;
}

.menuItems:visited,.menuItems:link{
	color: black;
	font-size: 30px;
	margin-left: 3.5em;
	text-decoration: none;
}

.menuItems:hover,.menuItems:active{
	color: rgb(189,0,11);
	border: none;
}

.modal{
	background: none;
	border:none;
	box-shadow:none;
}

.modal h1{
	color: white;
	font-size: 20px;
	margin-top: -5px;
}

.modal p{
	color:white;
	font-weight:bold;
	height: 100%;
	bottom: 100px;
	margin-top: -20px;
}

.modal .pic{
	height: 100%;
	width:100%;
}

.modal a{
	text-decoration:none;
	color: white;
}

.temp img{
	border: 2px solid white;
	height: 200px;
	width: 200px;
}

.temp{
	background:#333;
}

footer p{
	font-weight: bold;
}

